.main {
  position: relative;
  z-index: 0;
  &__seller-online-indentation {
    margin-bottom: 59.43px;
  }
  &__sim-slider-and-banner-indentation {
    margin-bottom: 51px;
  }
  &__slider-underline-indentation {
    margin-bottom: 75.87px;
  }
  &__swiper-indentation {
    margin-bottom: 76.87px;
  }
  &__swiper-indentation2 {
    margin-bottom: 60.76px;
  }
  &__product-class-underline {
    margin-bottom: 26px;
    content: "";
    height: 1px;
    background: #ebebeb;
  }
  &__product-line {
    content: "";
    height: 1px;
    border: 1px dashed #D9D8D8;
    margin-bottom: 37.51px;
  }
}
