.product-description {
  &__content {
      padding-right: 67px;
    &-header {
      margin-bottom: 25px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 800;
      font-size: 18px;
      line-height: 24px;
      color: #1e273a;
    }
    &-text {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 160%;
      color: #3f3f3f;
    }
    &-button {
      margin-bottom: 33px;
      cursor: pointer;
      width: 156px;
      height: 24px;
      position: relative;
      background: #ececec;
      border-radius: 25px;
      font-weight: bold;
      font-size: 12px;
      line-height: 20px;
      color: #1e273a;
      &-wrapper {
        display: flex;
        justify-content: center;
      }
      &:hover {
        opacity: $primary-opacity;
      }
      &-img {
        position: absolute;
        left: 5px;
        margin-top: 6px;
      }
    }
  }
  &__delivery-details {
    &-header {
      margin-bottom: 12px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 800;
      font-size: 18px;
      line-height: 24px;
      color: #1e273a;
    }
    &-text {
      &-h3 {
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        color: #3f3f3f;
      }
      &-span {
        font-size: 14px;
        line-height: 20px;
        color: #3f3f3f;
      }
    }
  }
}
