footer.footer
        .footer__background-items
          .container
            .row
              .footer__item.col-12.col-sm-6.col-md-3.col-lg-3.col-xl-3
                a.footer__item-heading(href="#") Store
                a.footer__item-paragraph(href="#") Подарочные сертификаты
                a.footer__item-paragraph(href="#") Seller-online блог
              .footer__item.col-12.col-sm-6.col-md-3.col-lg-3.col-xl-3
                a.footer__item-heading(href="#") Sell
                a.footer__item-paragraph(href="#") Sell on SOM
                a.footer__item-paragraph(href="#") Teams
                a.footer__item-paragraph(href="#") Forums
              .footer__item.col-12.col-sm-6.col-md-3.col-lg-3.col-xl-3
                a.footer__item-heading(href="#") About
                a.footer__item-paragraph(href="#") Seller-online, Inc.
                a.footer__item-paragraph(href="#") Policies
                a.footer__item-paragraph(href="#") Investors
                a.footer__item-paragraph(href="#") Careers
                a.footer__item-paragraph(href="#") Press
                a.footer__item-paragraph(href="#") Impact
                a.footer__item-paragraph(href="#") imprint
              .footer__item.col-12.col-sm-6.col-md-3.col-lg-3.col-xl-3
                a.footer__item-heading(href="#") Follow SOM
                a.footer__item-paragraph(href="#") Facebook
                a.footer__item-paragraph(href="#") Instagram
                a.footer__item-paragraph(href="#") Pinterest
                a.footer__item-paragraph(href="#") Twitter
        .footer__background-copyright
          .container
            .row
              a.footer__copyright-image.col-8.col-sm-2.col-md-2.col-lg-2.col-xl-1(href="#")
                img(src="../images/SOM2.svg")
              span.footer__copyright-text.col-4.col-sm-3.col-md-3.col-lg-6.col-xl-7 © 2019 Solma
              .footer__copyright-links.col-12.col-sm-7.col-md-7.col-lg-4.col-xl-4
                a.footer__copyright-link(href="#") Terms of Use
                a.footer__copyright-link(href="#") Privacy
                a.footer__copyright-link(href="#") interest-based ads