header.header
      .header__container.container
        .header__row.row.align-items-center
          a.header__logo.col-4.col-sm-4.col-md-2.col-lg-3.col-xl-2(href='#')
            img.header__logo-image(src='../images/SOM.svg')
            span.header__logo-text
              | Seller 
              br
              |  Online 
              br
              |  Marketplace
          form.header__search-form.col-md-4.col-lg-4.col-xl-4
            input.header__search-form-input.col-11
            button.header__search-form-button
              img.header__search-form-image(src='../images/Vector.svg')
          .header__currency.col-sm-4.col-md-3.col-lg-3.col-xl-2
            span.header__currency-text Currency
            .header__currency-selection
              span.header__currency-selection-menu USD
              img.header__currency-selection-button(src='../images/Vector2.svg')
              ul.header__currency-selection-submenu
                a(href='#')
                  li.header__currency-selection-submenu-item.header__currency-selection-submenu_item1 $ (USA)
                a(href='#')
                  li.header__currency-selection-submenu-item.header__currency-selection-submenu_item2 &euro; (EUR)
                a(href='#')
                  li.header__currency-selection-submenu-item.header__currency-selection-submenu_item3 &pound; (EN)
                a(href='#')
                  li.header__currency-selection-submenu-item.header__currency-selection-submenu_item4 &#x4B0; (CH)
          .header__basket-and-account.col-6.col-sm-4.col-md-3.col-lg-2.col-xl-4
            .header__basket
              a.header__basket-image(href='#')
                img(src='../images/Vector3.svg')
                .header__basket-background
                  span.header__basket-text 34
            a.header__account(href='#')
              img(src='../images/Vector4.svg')
          button.header__mobile-menu-button.col-2
            img(src='../images/Group 3.svg')
          .header__line.col-12
      .header__bottom-line
      .container
        .row
          ul.header__nav.col-12
            a(href='../html/catalog.html')
              li.header__nav-item Leather goods
            a()
              li.header__nav-item.header__nav-item-submenu.container  Wood products 
                div.header__nav-item-submenu-content.row
                  div.col-1
                  ul.header__nav-item-submenu-content-1.col-2
                      li.header__nav-item-submenu-content-1-item All
                      li.header__nav-item-submenu-content-1-item Party supplies
                      li.header__nav-item-submenu-content-1-item Wedding decor
                      li.header__nav-item-submenu-content-1-item Wedding gift
                      li.header__nav-item-submenu-content-1-item.header__nav-item-submenu-content-1-item-drop Wedding accessories
                        div.header__nav-item-submenu-content-1-item-drop-content
                          div.header__nav-item-submenu-content-1-item-drop-content-line
                          ul.header__nav-item-submenu-content-1-item-drop-content-items
                            li.header__nav-item-submenu-content-1-item-drop-content-item Party decor
                            li.header__nav-item-submenu-content-1-item-drop-content-item Baking and decorating cakes
                            li.header__nav-item-submenu-content-1-item-drop-content-item Clothes
                      li.header__nav-item-submenu-content-1-item Wedding jewelry
                      li.header__nav-item-submenu-content-1-item Wedding clothes
            a(href='../html/catalog.html')
              li.header__nav-item Wedding
            a(href='../html/catalog.html')
              li.header__nav-item Happy Birthday
            a(href='../html/catalog.html')
              li.header__nav-item Toys and entertainment
            a(href='../html/catalog.html')
              li.header__nav-item Art objects
            a(href='../html/catalog.html')
              li.header__nav-item Goods for needlework    
                  