.seller-online
            .container
              .row
                .seller-online__content.col-12
                  span.seller-online__content-text
                    | What is 
                    br
                    |  Seller-online ?
                  img.seller-online__image(src="../images/Group 9.1.svg")
                  button.seller-online__button Read more