div.product-card.product-card_delete-item2   
                            a.product-card__wrapper(href="product.html")
                              img.product-card__logo(src="../images/изображение 2.3.svg")
                              p.product-card__description Stamped pet ID tag
                              span.product-card__price $23.99