div.product-card.product-card_delete-item3    
                            a.product-card__wrapper(href="product.html")
                              img.product-card__logo(src="../images/изображение 2.4.svg")
                              p.product-card__description Personalized Cutting Board - Engraved Cutting Board, Custom Cutting Board
                              span.product-card__price $52.00