div.product-card    
    a.product-card__wrapper(href="product.html")
        img.product-card__logo(src="../images/изображение 4.2.svg")
        p.product-card__description Personalized Cutting Board - Engraved Cutting Board, Custom Cutting Board
        span.product-card__price.product-card__price_color_orange $37.80
        span.product-card__price.product-card__price_strike $45.20