div.product-card    
    a.product-card__wrapper(href="product.html")
        img.product-card__logo(src="../images/изображение 4.3.svg")
        p.product-card__description Silicone Bamboo Mold, Chocolate Mold
        span.product-card__price $23.99