div.product-card.product-card_delete-item1
                            a.product-card__wrapper(href="product.html")
                              img.product-card__logo(src="../images/изображение 2.2.svg")
                              p.product-card__description Personalized dog leash hanger handmade from the base
                              span.product-card__price Sold