div.product-card    
    a.product-card__wrapper(href="product.html")
        img.product-card__logo(src="../images/изображение 4.1.svg")
        p.product-card__description Personalized Cutting Board - Engraved Cutting Board, Custom Cutting Board
        span.product-card__price $52.00