div.product-card    
    a.product-card__wrapper(href="product.html")
        img.product-card__logo(src="../images/изображение 4.4.svg")
        p.product-card__description Stamped pet ID tag
        span.product-card__price $2.30