div.product-card.product-card_delete-item4  
                            a.product-card__wrapper(href="product.html")
                              img.product-card__logo(src="../images/изображение 2.5.svg")
                              p.product-card__description Silicone Bamboo Mold, Chocolate Mold
                              .product-card__sale-wrapper
                                span.product-card__price.product-card__price_color_orange $37.80
                                span.product-card__price.product-card__price_strike $45.20
                              img.product-card__sale-image(src="../images/Vector12.svg")
                              img.product-card__sale-image2(src="../images/Vector11.svg")