div.swiper-slide2-item.swiper-slide2-item_delete-review2
                        a.swiper-slide2-item__star-wrapper(href="#")
                          img.swiper-slide2-item__star(src="../images/star.svg")
                          img.swiper-slide2-item__star(src="../images/star.svg")
                          img.swiper-slide2-item__star(src="../images/empty-star.svg")
                          img.swiper-slide2-item__star(src="../images/empty-star.svg")
                          img.swiper-slide2-item__star(src="../images/empty-star.svg")
                        p.swiper-slide2-item__description
                          | These are GREAT~!!! 
                          | Cat was quite eager and happy to work with us on
                          | what our daughter would love. The signs were exactly 
                          | what our daughter would want. Great work! 
                          span(style="white-space: nowrap;")
                            | Thank you so
                            | very much for your quick service and EXCELLEN
                        .swiper-slide2-item__card-viewer
                          .swiper-slide2-item__images-viewer
                            img.swiper-slide2-item__image1-viewer(src="../images/изображение 3.2.svg")
                            .swiper-slide2-item__image2-empty-viewer-background
                              img.swiper-slide2-item__image2-empty-viewer(src="../images/изображение 3.3.svg")
                          .swiper-slide2-item__description-viewer
                            h2.swiper-slide2-item__name-viewer Екатерина
                            span.swiper-slide2-item__date-viewer 15 may 2019 г