div.swiper-slide2-item.swiper-slide2-item_delete-review3
                        a.swiper-slide2-item__star-wrapper(href="#")
                          img.swiper-slide2-item__star(src="../images/star.svg")
                          img.swiper-slide2-item__star(src="../images/star.svg")
                          img.swiper-slide2-item__star(src="../images/star.svg")
                          img.swiper-slide2-item__star(src="../images/star.svg")
                          img.swiper-slide2-item__star(src="../images/star.svg")
                        p.swiper-slide2-item__description
                          | There is no supply of coffee at all,
                          | water flows at the junction of the connection of these parts.
                          | Tightly tie fails (closes obliquely) for the reason that stopping
                          | too long nozzle container for coffee (instructions 4)
                        .swiper-slide2-item__card-viewer
                          .swiper-slide2-item__images-viewer
                            img.swiper-slide2-item__image1-viewer(src="../images/изображение 3.4.svg")
                            img.swiper-slide2-item__image2-viewer(src="../images/изображение 3.5.svg")
                          .swiper-slide2-item__description-viewer
                            h2.swiper-slide2-item__name-viewer Jennifer
                            span.swiper-slide2-item__date-viewer 14 march 2019 г