div.swiper-slide2-item.swiper-slide2-item_delete-review1
                        a.swiper-slide2-item__star-wrapper(href="#")
                          img.swiper-slide2-item__star(src="../images/star.svg")
                          img.swiper-slide2-item__star(src="../images/star.svg")
                          img.swiper-slide2-item__star(src="../images/star.svg")
                          img.swiper-slide2-item__star(src="../images/star.svg")
                          img.swiper-slide2-item__star(src="../images/empty-star.svg")
                        p.swiper-slide2-item__description
                          | I ordered a geyser coffee machine.
                          | The coffee machine is out of order.
                          | It is not possible to prepare coffee
                          | since it is not possible to close tightly
                        .swiper-slide2-item__card-viewer
                          .swiper-slide2-item__images-viewer
                            img.swiper-slide2-item__image1-viewer(src="../images/изображение 3.svg")
                            img.swiper-slide2-item__image2-viewer(src="../images/изображение 3.1.svg")
                          .swiper-slide2-item__description-viewer
                            h2.swiper-slide2-item__name-viewer Александр
                            span.swiper-slide2-item__date-viewer 12 sept 2019 г